.left{
    float: left;
}
.left>div{
    left: 0;
}
.right{
    float: right;
}
.dropbtn{
    background: #50dc50;
    padding: 16px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
position: relative;
display: inline-block;
}
.dropdown-content{
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
}
.dropdown:hover .drop-dropdown-content{
    display: block;
}